.proyectos-carrusel-main__container {
    gap: 20px;
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    .proyectos-carrusel-buttons__container {
        height: 60px;
        display: flex;
        padding: 10px;
        column-gap: 10px;
        align-items: center;
        border-radius: 100px;
        justify-content: center;
        background-color: #FFFFFF;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
        .proyectos-carrusel-arrow__button {
            z-index: 1;
            width: 35px;
            height: 35px;
            border: none;
            cursor: pointer;
            background-color: transparent;
            transition: all 0.3s ease-in-out;
            .proyectos-carrusel-arrow__icon {
                width: 30px;
                height: 30px;
                color: #0E9FE3;
            }
            &:active {
                scale: 0.9
            }
        }
        .proyectos-carrusel-dots__container {
            display: flex;
            column-gap: 7px;
        }
    }

    @media (max-width: 768px){
        .proyectos-carrusel-buttons__container {
            .proyectos-carrusel-arrow__button {
                width: 50px;
                height: 50px;
            }
        }
    }
}
