.principios-main__container {
    width: 100%;
    display: grid;
    row-gap: 60px;
    margin-top: 57px;
    column-gap: 140px;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
}
