.beneficio-main__container {
    width: 320px;
    display: flex;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: #FFFFFF;
    border: 1px solid #8c8c8c4d;
    .beneficio__svg {
        width: 50px;
        height: 50px;
        padding: 20px;
        fill: #0453b5;
        margin-block: 15px;
        border-radius: 10px;
        background-color: #dcf0ff;
    }
    .beneficio-ul__container {
        flex: 1;
        margin: 0;
        width: 100%;
        display: flex;
        row-gap: 10px;
        padding-top: 5px;
        flex-direction: column;
        box-sizing: border-box;
        .beneficio__li {
            width: 95%;
            font-weight: 500;
        }
    }
    .beneficio-title__container {
        width: 100%;
        height: 70px;
        padding: 10px;
        text-align: center;
        align-content: center;
        box-sizing: border-box;
        justify-content: center;
        background-color: #0E9FE3;
        .beneficio__title {
            margin: 0;
            color: white;
            font-size: 18px;
            font-weight: bold;
        }
    }
}