.ciencia-abierta-main__container {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #FFFEFC;
    .ciencia-abierta-banner__container {
        width: 100%;
        height: 700px;
        display: flex;
        color: white;
        position: relative;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: center;
        .ciencia-abierta__title-container {
            z-index: 1;
            width: 100%;
            height: 100%;
            display: flex;
            row-gap: 20px;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            .ciencia-abierta__title {
                margin: 0;
                font-size: 96px;
                font-weight: bolder;
            }
            .ciencia-abierta__slogan {
                margin: 0;
                font-size: 22px;
                font-weight: 400;
            }
            .ciencia-abierta-referencia_link {
                font-size: 20px;
            }
        }
    }
    .ciencia-abierta-sections__container {
        width: 100%;
        display: flex;
        row-gap: 50px;
        margin-block: 30px;
        padding-inline: 5%;
        flex-direction: column;
        box-sizing: border-box;
    }
    
    @media (max-width: 768px) {
        .ciencia-abierta-banner__container {
            height: 400px;
            padding-left: 0px;
            align-items: center;
            .ciencia-abierta__title-container {
                .ciencia-abierta__title {
                    font-size: 50px;
                }
                .ciencia-abierta__slogan {
                    font-size: 15px;
                }
            }
        }
        .ciencia-abierta-sections__container {
            margin-block: 20px;
            padding-inline: 2%;
        }
    }
}