.recurso-main__container {
    width: 320px;
    height: 320px;
    row-gap: 15px;
    display: flex;
    color: #707070;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: center;
    transition: all 0.3s ease;
    background-color: #F6FCFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    cursor: url("../../../assets/commons/custom_cursor.png"), pointer;
    .recurso__image {
        width: 130px;
        height: 130px;
    }
    .recurso__title {
        margin: 0px;
        font-size: 24px;
        color: #0E9FE3;
        font-weight: bold;
    }
    .recurso__text {
        width: 90%;
        margin: 0px;
        font-size: 20px;
    }
    &:hover {
        transform: translateY(-10px);
    }
}