.recurso-main__container {
    width: 320px;
    height: 320px;
    row-gap: 15px;
    display: flex;
    padding: 30px;
    color: #707070;
    text-align: center;
    border-radius: 20px;
    align-items: center;
    text-decoration: none;
    flex-direction: column;
    box-sizing: border-box;
    transition: all 0.3s ease;
    background-color: #FFFFFF;
    border: 1px solid #8c8c8c4d;
    cursor: url("../../../assets/commons/custom_cursor.png"), pointer;
    .recurso__title-icon {
        width: 40px;
        height: 40px;
        padding: 10px;
        border-radius: 10px;
    }
    .recurso__title {
        margin: 0px;
        font-size: 22px;
    }
    .recurso__description {
        flex: 1;
        margin: 0px;
        font-weight: 600;
    }
    .recurso__link-icon {
        width: 30px;
        height: 30px;

        align-self: flex-end;
    }
    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.3);
    }
}