.licencias-main__container {
    width: 100vw;
    display: flex;
    font-size: 20px;
    margin-bottom: 35px;
    padding-inline: 100px;
    box-sizing: border-box;
    flex-direction: column;
    .descripcion-licencias__title, .ejemplos-licencias__title {
        color: #0E9FE3;
        font-size: 50px;
    }
    .descripcion-licencias__text {
        margin: 0;
        text-align: justify;
    }
    .ejemplos-licencias__container {
        width: 100%;
        row-gap: 50px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
    }
    .creative-commons-licencias__title {
        color: #0E9FE3;
        font-size: 35px;
        margin-block: 40px;
    }
    .creative-commons-licencias__container {
        display: flex;
        flex-direction: column;
    }
}