.actividades__container {
    gap: 30px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-block: 35px;
    padding-inline: 2%;
    box-sizing: border-box;
    justify-content: center;
}