@use "@/styles/_links.scss";

.footer-main__container {
    width: 100%;
    gap: 20px 5%;
    display: flex;
    color: white;
    padding: 20px;
    flex-wrap: wrap;
    overflow: hidden;
    min-height: 220px;
    flex-direction: row;
    box-sizing: border-box;
    justify-content: center;
    background-color: #0E9FE3;
    .footer-content__container {
        row-gap: 5px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .footer-content__title {
            margin: 0;
            font-size: 25px;
        }
        .footer__link {
            @extend %custom__link;
        }
        .pages__container {
            display: flex;
            flex-direction: column;
            .page__link {
                @extend %custom__link;
                &:hover {
                    color: #d8d8d8;
                } 
            }
        }
        .social-networks__container {
            display: flex;
            column-gap: 10px;
            flex-direction: row;
            .social-network__link {
                @extend %custom__link;
                &:hover {
                    transform: translateY(-3px);
                } 
            }
        }
    }
    .footer__images {
        width: 100%;
        gap: 20px 5%;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        .footer__image {
            max-width: 420px;
            max-height: 100%;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: white;
        }
    }
    @media (max-width: 768px){
        .footer__images {   
            height: fit-content;
            flex-wrap: wrap;      
            .footer__image {
                max-width: 300px;
                height: 120px;
            }
        }
    }
}