.datos-main__container {
    width: 100vw;
    display: flex;
    font-size: 20px;
    margin-bottom: 35px;
    padding-inline: 100px;
    box-sizing: border-box;
    flex-direction: column;
    .descripcion-datos__title, .ejemplos-datos__title {
        color: #0E9FE3;
        font-size: 50px;
    }
    .descripcion-datos__text {
        margin: 0;
        text-align: justify;
    }
    .ejemplos-datos__container {
        width: 100%;
        row-gap: 50px;
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);
    }
}