:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #707070;
  color-scheme: light dark;
  background-color: #FFFEFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --title-color: #fff;
}

html {
  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-track {
      background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
      background: #25abe9;
      border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb:hover {
      background: #989898;
  }
}

body {
  margin: 0;
  display: flex;
  overflow-y: auto;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}