:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #707070;
  color-scheme: light dark;
  background-color: #FFFEFC;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --title-color: #fff;
}

body {
  margin: 0;
  display: flex;
  overflow-y: auto;
  min-width: 320px;
  min-height: 100vh;
}